<h1> Login</h1>

<%= form_tag(new_path) do -%>
 <%= label_tag 'Usuário:' -%>
 <%= text_field_tag 'Usuario', '', size: 30-%> <br />

 <%= label_tag 'Senha:' -%>
 <%= password_field_tag 'Senha', '', size: 30-%><br />

 <div><%= submit_tag 'Logar' %></div>
<% end -%>